{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
        <div class="nav-main">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
            <a href="{% url 'create-song' %}" class="nav-link">Add Song</a>
            <a href="{% url 'create-playlist' %}" class="nav-link">Create Playlist</a>
            <a href="{% url 'playlists' %}" class="nav-link">Playlists</a>
            <a href="{% url 'library' %}" class="nav-link">Library</a>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        </div>
        {% else %}
        <div class="nav-auth">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
            <a href="{% url 'sign-in' %}" class="nav-link" id="sign-in">Sign In</a>
            <a href="{% url 'sign-up' %}" class="nav-link" id="sign-up">Sign Up</a>
        </div>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>