{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{ playlist.title }}</h1>

<ul class="song-list">
    <img src="../static/images/album_cover.jpg" alt="orange album cover with musical eighth note" class="playlist-cover">
    {% for song in songs %}
    <li class="playlist-song">
        <a href="/library/{{song.id}}">
            <div id="song-title">{{song.title}}</div>
            <div id="song-artist">{{song.artist}}</div>
        </a>
        <span>
            <form action="/playlists/{{playlist.id}}/remove-song/{{song.id}}"><button id="delete-x">&#215;</button></form>
        </span>
    </li>
    {% endfor %}
    <form action="/playlists/{{playlist.id}}/update" class="white-button-container">
        <button class="white-button">Add a song to "{{playlist.title}}"</button>
    </form>
    <form action="/playlists/{{playlist.id}}/update-title" class="white-button-container">
        <button class="white-button">Edit Playlist"</button>
    </form>
    <form action="/playlists/{{playlist.id}}/delete" class="white-button-container">
        <button class="white-button">Delete Playlist</button>
    </form>
</ul>


{% endblock %}