@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk:MORF,SHLN@36,0&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pragati+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    box-sizing: border-box;
    background: rgb(58, 89, 180);
    background: linear-gradient(90deg, rgba(58, 89, 180, 1) 0%, rgba(19, 147, 133, 1) 52%, rgba(0, 255, 51, 1) 100%);
    color: rgb(241, 241, 241);
    font-family: Lato, Helvetica;
    font-size: 0.9rem;
}

h1,
h2 {
    text-align: center;
    margin: 1.6rem;
}

h1 {
    font-size: 2.8rem;
}


label {
    font-size: 1rem;
    display: block;
}

input {
    width: 15rem;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: .5rem 2rem;
    margin-top: 0.5rem;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.185);
    color: rgb(241, 241, 241);
    font-size: 0.95rem;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(241, 241, 241);
}

fieldset {
    display: none;
}

.form-header {
    margin-top: 6rem;
}

.login,
.form-container {
    background-color: rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorlist {
    display: none;
}

.nav-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.3rem 7vw;
}

.nav-auth {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.3rem 20vw;
}

.nav-link {
    font-style: none;
    text-decoration: none;
    color: rgb(241, 241, 241);
    font-size: 1.3rem;
    transition: 0.3s;
}

.nav-link:hover {
    transform: scale(1.02);
    color: transparent;
    text-shadow: 0px 2px 1px rgb(241, 241, 241);
}

.helptext {
    display: none;
}

.playlist-container {
    margin: 0 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.playlist-cover {
    width: 23vw;
    transition: 0.3s;
    padding-bottom: 1.4rem;
}

.playlist:hover>img {
    transform: scale(1.05);
}

.white-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-button {
    background: none;
    border: 2px solid rgb(241, 241, 241);
}

.song-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-list>li {
    margin-bottom: 1.5rem;
    width: 13rem;
}

.playlist-song {
    display: flex;
    justify-content: space-between;
}

.cancel-button {
    margin-top: 1rem;
}

#song-title {
    font-weight: bold;
    font-size: 1rem;
}

#home-header {
    margin: 30vh 0;
    font-family: Great Vibes, brushscript;
    font-size: 7rem;
    font-style: italic;
    transform: rotate(-4deg);
}

#sign-in,
#sign-up {
    color: rgb(71, 71, 71);
    font-weight: bold;
}

#logout-form {
    padding: 0;
    margin: 0;
}

#logout-form>button {
    background-color: transparent;
    font-size: 1.3rem;
    color: rgba(64, 64, 64, 0.774);
    font-weight: bold;
    padding: 0;
    margin-top: 3px;
}

#login-error-message {
    position: relative;
    bottom: 1rem;
}

#delete-x {
    background-color: transparent;
    transform: scale(3);
    position: relative;
    bottom: 0.4rem;
    transition: 0.2s;
}

#delete-x:hover {
    color: rgb(202, 45, 45);
}