{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="form-header">Sign Up</h1>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  {{ form }}
  <!-- {% for field in form %}
  <div>
    {{ field.label_tag }}
    {{field}}
  </div>
  {% if field.help_text %}
  <div>{{field.help_text}}</div>
  {% endif %}

  {% for error in field.errors %}
  <div style="color: red;">{{error}}</div>
  {% endfor %}

  {% endfor %} -->
  {% if error_message %}
  <p>{{error_message}}</p>
  {% endif %}
  <button type="submit" class="btn submit">Submit</button>
</form>

{% endblock %}